@import "tailwindcss";
:root {
  /* Màu nền mặc định */
  --background: oklch(0.99 0 0);
  /* Màu chữ mặc định */
  --foreground: oklch(0.2 0 0);

  /* Màu mún hightlight */
  --primary: rgb(0, 187, 167);
  /* Màu icon */
  --primary-foreground: oklch(1 0 0);

  /* Màu nền cho card */
  --card: oklch(1 0 0);
  /* Màu chữ cho card */
  --card-foreground: oklch(0.2 0 0);

  /* Màu nền cho các thành phần phụ */
  --muted: oklch(0.96 0 0);
  /* Chữ phụ mô tả */
  --muted-foreground: oklch(0.5 0 0);

  /* Màu icon */
  --accent: rgb(17 185 130);
  /* Chữ trong icon */
  --accent-foreground: oklch(1 0 0);

  /* Border / input / focus */
  --border: oklch(97.468% 0.00211 14.301);
  --input: oklch(0.95 0 0);
  --ring: oklch(0.55 0.15 155);

  /* Status */
  --success: oklch(0.55 0.15 155);
  --warning: oklch(0.75 0.15 85);
  --destructive: oklch(0.577 0.245 27.325);

  /* Radius */
  --radius: 0.5rem;

  /* Fonts */
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
